<!doctype html>
<html xmlns:th="http://thymeleaf.org" >
<head>
    <title>Pond Stocking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
    <link rel="stylesheet" href="/sidebar-01/css/style.css">
    <link rel="stylesheet" href="/sidebar-01/css/parsley.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.js"></script>

</head>
<body>

<div class="wrapper d-flex align-items-stretch">

    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"></a>
            <ul class="list-unstyled components mb-5">

                <li class="active" >
                    <a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish"></i>Fish Stocking </a>
                    <ul class="collapse list-unstyled" id="species">

                        <li class="active">
                            <a href="#">Pond Fish Stocking </a>
                        </li>
                        <!--												<li class>-->
                        <!--													<a href="/species/addSpecies">Add Species</a>-->
                        <!--												</li>-->


                    </ul>
                </li>
                <li class="" >
                    <a href="#dailyRecords" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Daily Records</a>
                    <ul class="collapse list-unstyled" id="dailyRecords">

                        <li  >
                            <a href="/operation/requestedfeeds">Requested Feeds</a>
                        </li>

                        <li  class="" >
                            <a href="/OperationalMaanager/viewPhysChemRecords">Physiochemical Parameters</a>
                        </li>


                        <li  class="" >
                            <a href="/operationM/deadFish">Dead Fish</a>
                        </li>



                    </ul>
                </li>
                <!--										<li class="active">-->
                <!--											<a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish"></i> Species</a>-->
                <!--											<ul class="collapse list-unstyled" id="species">-->

                <!--												<li class="active">-->
                <!--													<a href="#">View Species</a>-->
                <!--												</li>-->
                <!--												<li class>-->
                <!--													<a href="/species/addSpecies">Add Species</a>-->
                <!--												</li>-->


                <!--											</ul>-->
                <!--										</li>-->

                <!--										<li >-->
                <!--											<a href="#owners" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Owners</a>-->
                <!--											<ul class="collapse list-unstyled" id="owners">-->

                <!--												<li >-->
                <!--													<a href="/owners/viewOwners">View Owners</a>-->
                <!--												</li>-->
                <!--												<li class>-->
                <!--													<a href="/owners/addOwner">Add Owner</a>-->
                <!--												</li>-->


                <!--											</ul>-->
                <!--										</li>-->



                <!--								          <li >-->
                <!--							             	 <a href="/pondownership/viewPondOwnership">Pond Ownership</a>-->
                <!--								             -->
                <!--&lt;!&ndash;								          </li>&ndash;&gt;-->
                <li  >
                    <a href="#medicine" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Medication </a>
                    <ul class="collapse list-unstyled" id="medicine">

                        <li  >
                            <a href="/operationMana/medication">Medicine Used</a>
                        </li>


                        <!--												<li class>-->
                        <!--													<a href="/feeds/addFeed">Add Feed</a>-->
                        <!--												</li>-->


                    </ul>



                </li>

                <li  >
                    <a href="#harvest" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Harvest </a>
                    <ul class="collapse list-unstyled" id="harvest">

                        <li  >
                            <a href="/operationManag/harvest">Harvested  Fish</a>
                        </li>


                        <!--												<li class>-->
                        <!--													<a href="/feeds/addFeed">Add Feed</a>-->
                        <!--												</li>-->


                    </ul>



                </li>

























                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>


        </div>
    </nav>


    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="col-md-10">

                <div class="row">



                    <div class="col-md-4">
                        <div align="left">
                            <a href="/operationManager/findall"><button class="btn btn-secondary">Back</button></a><br><br>
                        </div>

                    </div>

                    <div class="col-md-8">

                        <div align="center">
                            <h3>Add Pond Stocking</h3>

                        </div>

                    </div>
                </div>

                <div th:switch="${values}">
                    <div th:case="'success'" class="alert alert-success">
                        <strong>Success!</strong> <p th:text="${data}"></p>
                    </div>

                    <div th:case="'failed'" class="alert alert-danger">
                        <strong>Failed!</strong> <p th:text="${data}"></p>
                    </div>
                </div>



                <form action="#" th:action="@{/inventoryManagerMedicines/save}" th:object="${seedStock}" method="post" id="validate_form" data-parsley-validate>

                    <!--								<label>Feed ID eg <i>Feed-001</i></label><br>-->

                    <!--								<input type="text" name="" class="form-control" th:field="*{id}" data-parsley-pattern="[a-zA-Z]*[/-][0-9]*" data-parsley-length="[5,10]"  data-parsley-trigger="keyup">-->

                    <label>Pond  Number (Volume in M cubic)</label><br>

                    <select  th:field="*{pond}" class="form-control">


                        <option  th:each="pond: ${pond} "th:value="${pond.id}" th:text="${pond.pondNumber +' --------   (with volume '+pond.pondArea*pond.avarageDepth +' ) and pondType('+ pond.pondType.name+' )'}" ></option>


                    </select>





<!--                    <input type="text" name="" class="form-control" th:field="*{pond}" required  data-parsley-pattern="^[a-zA-Z]+$" data-parsley-length="[2, 50]" data-parsley-trigger="keyup">-->

                    <label>Variety eg  <i> Bidens pilosa</i> </label><br>




                    <select  th:field="*{varietyStock}" class="form-control">


                        <option  th:each="varietystock: ${varietystock} "th:value="${varietystock.id}" th:text="${varietystock.species.geneName +' '+ varietystock.species.speciesName +     ' --------  Available --------'+varietystock.number}" ></option>


                    </select>

<!--                    <input type="text" name="" class="form-control" th:field="*{varietyStock}" required  data-parsley-pattern="[1-9][0-9]*[/.][0-9][0-9]*" data-parsley-length="[2,4 ]" data-parsley-trigger="keyup">-->

                    <label> Variety Quantity eg <i> 400.0</i></label><br>
                    <input type="text" name="" class="form-control" th:field="*{quantity}" required data-parsley-pattern="[1-9]*[0-9]*[/.][0-9][0-9]*" data-parsley-length="[2, 6]" data-parsley-trigger="keyup"><br>



                    <div class="row">

                        <div class="col-md-8">

                        </div>

                        <div class="col-md-4 ">
                            <div class="row">
                                <div class="col-md-5">
                                    <button class="btn btn-success" type="submit" style="float:right">Save</button>

                                </div>
                </form>



                <div class="col-md-5 offset=2">
                    <a href=""><button class="btn btn-danger">Cancel</button></a><br><br>

                </div>

            </div>


        </div>


    </div>


</div>

</div>





</div>
</div>
</div>

<script >

    $(document).ready(function(){
        $('#validate_form').parsley();



    });
</script>
<script src="/sidebar-01/js/jquery.min.js"></script>
<script src="/sidebar-01/js/popper.js"></script>
<script src="/sidebar-01/js/bootstrap.min.js"></script>
<script src="/sidebar-01/js/main.js"></script>
<script src="/sidebar-01/js/parsley.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.js"></script>

</body>
</html>

