<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Inventory View Medicines</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
    <link rel="stylesheet" href="/sidebar-01/css/style.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"></a>
            <ul class="list-unstyled components mb-5">
                <hr/>
                <li>

                    <img  class="img logo rounded-circle mb-5" src="./sidebar-01/images/pexels-fox-213399.jpg" width="1000" th:src="@{images/pexels-fox-213399.jpg}"alt="Fish Farm Management System"/>
                    <!--											<h3  align="center" style="color: white">Fish Farm Management System</h3>-->
                </li>

                <li >
                    <a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish"></i>Species</a>
                    <ul class="collapse list-unstyled" id="species">

                        <li >
                            <a href="/inventoryManagerVariety/viewVarietyStockData">Fingerlings </a>
                        </li>
                        <!--												<li class>-->
                        <!--													<a href="/species/addSpecies">Add Species</a>-->
                        <!--												</li>-->


                    </ul>
                </li>
                <li class >
                    <a href="#feed" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Feeds </a>
                    <ul class="collapse list-unstyled" id="feed">

                        <li   >
                            <a href="/inventoryManager/feedsData">Farm Feeds</a>
                        </li>


                    </ul>
                </li>
                <!--										<li class="active">-->
                <!--											<a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish"></i> Species</a>-->
                <!--											<ul class="collapse list-unstyled" id="species">-->

                <!--												<li class="active">-->
                <!--													<a href="#">View Species</a>-->
                <!--												</li>-->
                <!--												<li class>-->
                <!--													<a href="/species/addSpecies">Add Species</a>-->
                <!--												</li>-->


                <!--											</ul>-->
                <!--										</li>-->

                <!--										<li >-->
                <!--											<a href="#owners" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Owners</a>-->
                <!--											<ul class="collapse list-unstyled" id="owners">-->

                <!--												<li >-->
                <!--													<a href="/owners/viewOwners">View Owners</a>-->
                <!--												</li>-->
                <!--												<li class>-->
                <!--													<a href="/owners/addOwner">Add Owner</a>-->
                <!--												</li>-->


                <!--											</ul>-->
                <!--										</li>-->



                <!--								          <li >-->
                <!--							             	 <a href="/pondownership/viewPondOwnership">Pond Ownership</a>-->
                <!--								             -->
                <!--&lt;!&ndash;								          </li>&ndash;&gt;-->
                <li  class="active" >
                    <a href="#medicine" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Medicines</a>
                    <ul class="collapse list-unstyled" id="medicine">

                        <li class="active" >
                            <a href="#">Farm Medicines</a>
                        </li>
                        <!--												<li class>-->
                        <!--													<a href="/feeds/addFeed">Add Feed</a>-->
                        <!--												</li>-->


                    </ul>
                </li>

            </ul>


        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="col-md-12">

                <div align="center">
                    <h3 style="font-weight: bold"> Farm Medicines</h3>

                </div>





                <table class="table" id="medicinetable">

                    <div align="right">
                        <a href="/inventoryManagerMedicines/addmedicine"><button class="btn btn-info">New Medicine</button></a><br><br>
                    </div>

                    <div th:switch="${status}">
                        <div th:case="'success'" class="alert alert-success">
                            <strong>Success!</strong> <p th:text="${data}"></p>
                        </div>

                        <div th:case="'failed'" class="alert alert-danger">
                            <strong>Failed!</strong> <p th:text="${data}"></p>
                        </div>
                    </div>

                    <thead>
                    <tr>
                        <!--						      <th scope="col">#</th>-->
                        <th scope="col">Medicine  Name</th>
                        <th scope="col">Medicine Quantity</th>
                        <th scope="col"> Created At</th>
                        <th scope="col"> Updated At</th>
                        <th scope="col"> Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="medicine : ${medicines}">
                        <!--						  <td th:text="${feed.id}">#</td>-->
                        <td th:text="${medicine.medicineName}">Medicine  Name</td>
                        <td th:text="${medicine.medicineQuantity +'('+medicine.medicineUnit+')'}">Medicine Quantity</td>

                        <td th:text="${medicine.createdAt}">Created At</td>
                        <td th:text="${medicine.updatedAt}">Updated At</td>



                        <td>

                            <a th:href="@{'/inventoryManagerMedicines/edit/'+ ${medicine.number}}"><button class="btn btn-success ">Update</button></a>
<!--                            <a th:href="@{'/inventoryManagerMedicines/delete/'+${medicine.number}}"><button class="btn btn-danger "onClick="return confirm('Delete Medicine')">Delete</button></a>-->

                        </td>
                    </tr>




                    </tbody>

                </table>


            </div>





        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#medicinetable').DataTable()

    });



</script>
<script src="/sidebar-01/js/popper.js"></script>
<script src="/sidebar-01/js/bootstrap.min.js"></script>
<script src="/sidebar-01/js/main.js"></script>
</body>
</html>