<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Edit Fish Feed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
    <link rel="stylesheet" href="/sidebar-01/css/style.css">
    <link rel="stylesheet" href="/sidebar-01/css/parsley.css">

<!--    <link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/sidebar-01/css/style.css">-->


</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"></a>
            <ul class="list-unstyled components mb-5">

                <hr/>
                <li>

                    <img  class="img logo rounded-circle mb-5" src="./sidebar-01/images/pexels-fox-213399.jpg" width="1000" th:src="@{images/pexels-fox-213399.jpg}"alt="Fish Farm Management System"/>
                    <!--											<h3  align="center" style="color: white">Fish Farm Management System</h3>-->
                </li>

                <li >
                    <a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish"></i>Species</a>
                    <ul class="collapse list-unstyled" id="species">

                        <li >
                            <a href="/inventoryManagerVariety/viewVarietyStockData">Fingerlings</a>
                        </li>
                        <!--												<li class>-->
                        <!--													<a href="/species/addSpecies">Add Species</a>-->
                        <!--												</li>-->


                    </ul>
                </li>
                <li class="active" >
                    <a href="#feed" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Feeds</a>
                    <ul class="collapse list-unstyled" id="feed">

                        <li  class="active" >
                            <a href="/inventoryManager/feedsData">Farm Feeds</a>
                        </li>


                    </ul>
                </li>
                <!--										<li class="active">-->
                <!--											<a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish"></i> Species</a>-->
                <!--											<ul class="collapse list-unstyled" id="species">-->

                <!--												<li class="active">-->
                <!--													<a href="#">View Species</a>-->
                <!--												</li>-->
                <!--												<li class>-->
                <!--													<a href="/species/addSpecies">Add Species</a>-->
                <!--												</li>-->


                <!--											</ul>-->
                <!--										</li>-->

                <!--										<li >-->
                <!--											<a href="#owners" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Owners</a>-->
                <!--											<ul class="collapse list-unstyled" id="owners">-->

                <!--												<li >-->
                <!--													<a href="/owners/viewOwners">View Owners</a>-->
                <!--												</li>-->
                <!--												<li class>-->
                <!--													<a href="/owners/addOwner">Add Owner</a>-->
                <!--												</li>-->


                <!--											</ul>-->
                <!--										</li>-->



                <!--								          <li >-->
                <!--							             	 <a href="/pondownership/viewPondOwnership">Pond Ownership</a>-->
                <!--								             -->
                <!--&lt;!&ndash;								          </li>&ndash;&gt;-->
                <li  >
                    <a href="#medicine" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Medicines</a>
                    <ul class="collapse list-unstyled" id="medicine">

                        <li  >
                            <a href="/inventoryManagerMedicines/viewMedicines">Farm Medicines</a>
                        </li>
                        <!--												<li class>-->
                        <!--													<a href="/feeds/addFeed">Add Feed</a>-->
                        <!--												</li>-->


                    </ul>
                </li>

            </ul>


        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="col-md-12">

                <div class="row">



                    <div class="col-md-3">


                    </div>

                    <div class="col-md-6">

                        <div th:switch="${message}">
                            <div th:case="'success'" class="alert alert-success">
                                <strong>Success!</strong> <p th:text="${deta}"></p>
                            </div>

                            <!--                    <div th:case="'failed'" class="alert alert-danger">-->
                            <!--                        <strong>Failed!</strong> <p th:text="${data}"></p>-->
                            <!--                    </div>-->
                        </div>
                        <div class="card">


                            <div class="card-header">
                                <h3 align="center">Update Feed</h3>


                            </div>


                            <div class="card-body">

                                <form action="#" th:action="@{/inventoryManager/saveUpdate}" th:object="${feed}" method="post" id="validate_form" data-parsley-validate>

                                    <div class="form-group">
                                        <input type="text"  class="form-control" th:field="*{id}" data-parsley-pattern="^[1-9][0-9]*$" data-parsley-length="^[A-Z][a-zA-Z]+$"  data-parsley-trigger="keyup" hidden >

                                    </div>
                                    <div class="form-group">
                                        <label>Feed Name</label>
                                        <input type="text"  class="form-control" th:field="*{feedName}" data-parsley-pattern="^[1-9][0-9]*$" data-parsley-length="^[A-Z][a-zA-Z]+$"  data-parsley-trigger="keyup"  >
                                    </div>
                                    <div class="form-group">
                                        <label>Feed quantity(Kgs)</label>

                                        <input type="text" class="form-control" th:field="*{feedQuality}" required  data-parsley-pattern="^[A-Z][a-zA-Z]+$" data-parsley-length="[3, 20]" data-parsley-trigger="keyup">

                                    </div>

                            </div>


                            <div class="card-footer">
                                <div class="row">

                                    <div class="col-md-6">

                                        <button class="btn btn-success" type="submit" style="float:right">Update</button>

                                        </form>

                                    </div>

                                    <div class="col-md-6">
                                        <a href="/inventoryManager/feedsData"><button class="btn btn-danger">Cancel</button></a><br><br>


                                    </div>

                                </div>

                            </div>

                        </div>






                    </div>
                </div>




            </div>

        </div>


    </div>


</div>

</div>





</div>
</div>
</div>

<script >

    $(document).ready(function(){
        $('#validate_form').parsley();



    });
</script>

<script src="/sidebar-01/js/jquery.min.js"></script>
<script src="/sidebar-01/js/popper.js"></script>
<script src="/sidebar-01/js/bootstrap.min.js"></script>
<script src="/sidebar-01/js/main.js"></script>
<script src="/sidebar-01/js/parsley.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.js"></script>
</body>
</html>