<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	  <head>
		  	<title> Edit Pond Details</title>
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
				
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			
				
			<link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
			<link rel="stylesheet" href="/sidebar-01/css/parsley.css">
			
	  </head>
	  <body>
			
			<div class="wrapper d-flex align-items-stretch">
					<nav id="sidebar">
							<div class="p-4 pt-5">
								  	<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
							        <ul class="list-unstyled components mb-5">
								          <li class="active">
								          
									          <!--data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"-->
									            <a href="/addPondData" >Pond Details</a>
									          <!--  
									          
									            <ul class="collapse list-unstyled" id="homeSubmenu">
								                <li>
								                    <a href="#">Home 1</a>
								                </li>
								                <li>
								                    <a href="#">Home 2</>
								                </li>
								                <li>
								                    <a href="#">Home 3</a>
								                </li>
									            </ul>
									            
									            -->
								          </li>
								          <li>
								              <a href="#addPondData">Production Details</a>
								          </li>
								          <li>
							             	 <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
								              <ul class="collapse list-unstyled" id="pageSubmenu">
									                <li>
									                    <a href="#">Page 1</a>
									                </li>
									                <li>
									                    <a href="#">Page 2</a>
									                </li>
									                <li>
									                    <a href="#">Page 3</a>
									                </li>
								              </ul>
								          </li>
								          <li>
							             	 <a href="#">Portfolio</a>
								          </li>
								          <li>
							             	 <a href="#">Contact</a>
								          </li>
							        </ul>
						
							      
				      </div>
		    	</nav>
		
		        <!-- Page Content  -->
		      <div id="content" class="p-4 p-md-5">
		
			        <nav class="navbar navbar-expand-lg navbar-light bg-light">
				          <div class="container-fluid">
				
					            <button type="button" id="sidebarCollapse" class="btn btn-primary">
						              <i class="fa fa-bars"></i>
						              <span class="sr-only">Toggle Menu</span>
					            </button>
					            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					               	 <i class="fa fa-bars"></i>
					            </button>
					
					            <div class="collapse navbar-collapse" id="navbarSupportedContent">
						              <ul class="nav navbar-nav ml-auto">
							                <li class="nav-item active">
							                    <a class="nav-link" href="#">Home</a>
							                </li>
							                <li class="nav-item">
							                    <a class="nav-link" href="#">About</a>
							                </li>
							                <li class="nav-item">
							                    <a class="nav-link" href="#">Portfolio</a>
							                </li>
							                <li class="nav-item">
							                    <a class="nav-link" href="#">Contact</a>
							                </li>
						              </ul>
					            </div>
				          </div>
			        </nav>
			
			        
			        <div class="row">
		<div class="col-md-11">
		
			<div class="row">
			
				<div class="col-md-4">
				
					<a href="/addPondData"><button class="btn-lg btn-secondary" style="float:left">Back</button></a>
				
				</div>
				<div class="col-md-8" >
					<h2>Edit Pond Data </h2>
				</div>
			
			
			</div>
			
			
			
					<form action="#" th:action="@{/save}" th:object="${pond}" method="post">
					
					<label>Pond System Id</label>
					<input class="form-control" type="text" th:field="*{id}" readonly>
					
					<label>Product Number</label>
					<input class="form-control " type="text" th:field="*{pondno}" >
				
				
					<label>Pond Owner</label>
					<input class="form-control " type="text" th:field="*{owner}">
					
					<label>Change Pond Type</label>
					
					 <select class="form-control" type="text" th:field="*{type}" >
					 					<option value="" disabled>Select Below</option>
 					   			 		<option value="Earthen">Earthen</option>
	 					   			 	<option value="Concrete">Concrete </option>
	 					   			 	<option value="Tarpaulin">Tarpaulin</option>
	 					   			 	<option value="Plastic">Plastic</option>
	 					   			 	<option value="FiberGlass">Fiber Glass</option>
	 					   			 	<option value="Cage">Cage</option>
	 					   			 	
	 				</select>
					
					
					
					<label>Pond Area(Metre Squared)</label>
					<input class="form-control " type="text" th:field="*{area}">
					
					<label>Pond Avarage Depth(m)</label>
					<input class="form-control " type="text" th:field="*{depth}">
					
					<label>Pond Cost(Ksh)</label>
					<input class="form-control " type="text" th:field="*{cost}">
					
					<label>Pond Year Of Construction</label>
					<input class="form-control " type="text" th:field="*{Year}"><br/>
					
					
					<button class="btn-lg btn-success" type="submit" style="float:right">Save</button>
				
				</form>
				
			 
			
			
		
		
	
	
	
		
		
		
		</div>
	
	
	
	</div>
			        
			        
			        
			</div>
	
	    <script src="/sidebar-01/js/jquery.min.js"></script>
	    <script src="/sidebar-01/js/popper.js"></script>
	    <script src="/sidebar-01/js/bootstrap.min.js"></script>
	    <script src="/sidebar-01/js/main.js"></script>
	  </body>
</html>