<!doctype html>
<html >
	  <head>
		  	<title>FISH FARM MANAGEMENT SYSTEM</title>
		    <meta charset="utf-8">
		     <meta name="viewport" content="width=device-width, initial-scale=1.0">
		     <script src="https://kit.fontawesome.com/a076d05399.js"></script>


		
		    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

			
				
			<link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
			<link rel="stylesheet" href="/sidebar-01/css/style.css">
			
	  </head>
	  <body style="background-image: url('/sidebar-01/images/pexels-elianne-dipp-4666748.jpg')">

			<div class="wrapper d-flex align-items-stretch">
					<nav id="sidebar">
							<div class="p-4 pt-5">
								  	<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
							        <ul class="list-unstyled components mb-5">

										<li class="active">
											<a href="#"><i class="fas fa-home" style="color: white"></i>Home</a>
										</li>

										<li>
											<a href="#depts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-building" style="color: white"></i>Farm Departments</a>
											<ul class="collapse list-unstyled" id="depts">

<!--												<li>-->
<!--													<a href="admin/viewallUsers">Admin</a>-->
<!--												</li>-->

												<li>
													<a href="/admin/viewallUsers"> <i class="fas fa-user" style="color: white"></i>Farm Manager</a>
												</li>
												<li>
													<a href="inventoryManagerVariety/viewVarietyStockData"><i class="fas fa-warehouse" style="color: white"></i>Accountant</a>
												</li>
												<li>
													<a href="/operationManager/findall"><i class="fas fa-tools" style="color: white"></i>Operations Manager</a>
												</li>



											</ul>
										</li>

<!--								          <li>-->
<!--							             	 <a href="#"><i class="fas fa-calendar-check" style="color: white"></i> Fish Reservation</a>-->
<!--								          </li>-->

							        </ul>
						
							      
				      </div>
		    	</nav>
		
		        <!-- Page Content  -->
		      <div id="content" class="col-md-12">
		
			        <nav class="navbar navbar-expand-lg navbar-light bg-light">
				          <div class="container-fluid">

					            <button type="button" id="sidebarCollapse" class="btn btn-primary">
						              <i class="fa fa-bars"></i>
						              <span class="sr-only">Toggle Menu</span>
					            </button>
					            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					               	 <i class="fa fa-bars"></i>
					            </button>

					            <div class="collapse navbar-collapse" id="navbarSupportedContent">
						              <ul class="nav navbar-nav ml-auto">
							                <li class="nav-item active">
							                    <a class="nav-link" href="#">Home</a>
							                </li>
							                <li class="nav-item">
							                    <a class="nav-link" href="#">About</a>
							                </li>
							                <li class="nav-item">
							                    <a class="nav-link" href="#">Portfolio</a>
							                </li>
							                <li class="nav-item">
							                    <a class="nav-link" href="#">Contact</a>
							                </li>
						              </ul>
					            </div>
				          </div>
			        </nav>

				  <div class="col-md-11">



			
			        <h1 align="center" style="font-weight: bolder">FISH FARM MANAGEMENT SYSTEM</h1>


			       <p style="margin-left: 30px">This is an intergrated Fish Farm Management System,It covers Seed stocking,feeding,medication and harvesting </p>

					  <div class="row">
						  <div class="col-md-3">

						  </div>
						  <div class="col-md-3">

							  <ul>
								  <li style="font-size: 30px">Seed Stocking</li>
								  <li style="font-size: 30px">Fish Medication</li>
								  <li style="font-size: 30px">Fish Feeding</li>
								  <li style="font-size: 30px">Fish Harvesting</li>
								  <li style="font-size: 30px">Reports</li>

							  </ul>

						  </div>
						  <div class="col-md-3">

						  </div>

					  </div>


				  </div>


		      </div>


			</div>
	
	    <script src="/sidebar-01/js/jquery.min.js"></script>
	    <script src="/sidebar-01/js/popper.js"></script>
	    <script src="/sidebar-01/js/bootstrap.min.js"></script>
	    <script src="/sidebar-01/js/main.js"></script>
	  </body>
</html>