<!doctype html>
<html xmlns:th="http://thymeleaf.org" >
<head>
    <title> System User</title>
    <meta charset="utf-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>


    <link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
    <link rel="stylesheet" href="/sidebar-01/css/style.css">

</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"></a>
            <ul class="list-unstyled components mb-5">
                <hr/>
                <li>

                    <img  class="img logo rounded-circle mb-5" src="images/pexels-fox-213399.jpg" width="1000" alt="Fish Farm Management System"/>
                    <!--											<h3  align="center" style="color: white">Fish Farm Management System</h3>-->
                </li>
                <li class="active" >
                    <a href="/admin/viewallUsers">System Users</a>
                </li>
                <li class="">
                    <a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish" style="color:white"></i>Species</a>
                    <ul class="collapse list-unstyled" id="species">

                        <li class="">
                            <a href="/species/viewSpecies">Species</a>
                        </li>

                        <li >
                            <a href="/ManagerVariety/ManagerStockData">Fingerlings</a>
                        </li>
                        <!--												<li class>-->
                        <!--													<a href="/species/addSpecies">Add Species</a>-->
                        <!--												</li>-->


                    </ul>
                </li>
                <li  >
                    <a href="#ponds" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" ><i class="fas fa-water" style="color: white"></i>Ponds</a>
                    <ul class="collapse list-unstyled" id="ponds">

                        <li class>
                            <a href="/pondtype/viewPondTypes">Pond Categories</a>
                        </li>
                        <li  >
                            <a href="/pond/viewPonds">Farm Ponds</a>
                        </li>


                    </ul>
                </li>
                <!--										<li class="active">-->
                <!--											<a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish"></i> Species</a>-->
                <!--											<ul class="collapse list-unstyled" id="species">-->

                <!--												<li class="active">-->
                <!--													<a href="#">View Species</a>-->
                <!--												</li>-->
                <!--												<li class>-->
                <!--													<a href="/species/addSpecies">Add Species</a>-->
                <!--												</li>-->


                <!--											</ul>-->
                <!--										</li>-->

                <!--										<li >-->
                <!--											<a href="#owners" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Owners</a>-->
                <!--											<ul class="collapse list-unstyled" id="owners">-->

                <!--												<li >-->
                <!--													<a href="/owners/viewOwners">View Owners</a>-->
                <!--												</li>-->
                <!--												<li class>-->
                <!--													<a href="/owners/addOwner">Add Owner</a>-->
                <!--												</li>-->


                <!--											</ul>-->
                <!--										</li>-->



                <!--								          <li >-->
                <!--							             	 <a href="/pondownership/viewPondOwnership">Pond Ownership</a>-->
                <!--								             -->
                <!--&lt;!&ndash;								          </li>&ndash;&gt;-->
                <li  >
                    <a href="#feeds" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-luggage-cart" style="color: white"></i>Feeds</a>
                    <ul class="collapse list-unstyled" id="feeds">

                        <li  >
                            <a href="/feeds/viewFeeds"> Feeds</a>
                        </li>
                        <li  >
                            <a href="/farmmanager/feedHistory"> Feed History</a>
                        </li>


                    </ul>
                </li>

                <li  >
                    <a href="#medicines" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-luggage-cart" style="color: white"></i>Feeds</a>
                    <ul class="collapse list-unstyled" id="medicines">

                        <li  >
                            <a href="/farmmanager/medicines"> Medicines</a>
                        </li>

                        <li  >
                            <a href="/farmmanager/medicinesHistory"> Medication History</a>
                        </li>


                    </ul>
                </li>

                <li>
                    <a href="/farmmanager/harvest">Harvest</a>
                </li>
            </ul>


        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-8">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="col-md-12">
               <h3 align="center",style="font-weight:bold">User Details</h3>


                       <div class="row" th:object="${user}" style="margin-top: 100px">
                           <div class="col-md-6">
                               <h6>First Name</h6>
                               <label th:text="*{fname}"></label>
                               <br/>
                               <h6>Last Name</h6>
                               <label th:text="*{lname}"></label>
                               <br/>
                               <h6>Email</h6>
                               <label th:text="*{email}"></label>
                               <br/>
                               <br/>

                           </div>

                           <div class="col-md-6">
                               <h6>Section</h6>
<!--                               <label th:text="*{section.sectionName}"></label>-->
                               <h6>Created At</h6>
                               <label th:text="*{createdAt}"></label>
                               <h6>Updated At</h6>
                               <label th:text="*{updatedAt}"></label>
                           </div>


                       </div>




            </div>





        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#userTable').DataTable()

    });
</script>

<script src="/sidebar-01/js/popper.js"></script>
<script src="/sidebar-01/js/bootstrap.min.js"></script>
<script src="/sidebar-01/js/main.js"></script>

</body>
</html>