<!doctype html>
<html xmlns:th="http://thymeleaf.org" >
<head>
    <title>View Farm Ponds</title>
    <meta charset="utf-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



    <link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
    <link rel="stylesheet" href="/sidebar-01/css/style.css">

</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"></a>
            <ul class="list-unstyled components mb-5">
                <hr/>
                <li>

                    <img  class="img logo rounded-circle mb-5" src="./sidebar-01/images/pexels-fox-213399.jpg" width="1000" th:src="@{images/pexels-fox-213399.jpg}"alt="Fish Farm Management System"/>
                    <!--											<h3  align="center" style="color: white">Fish Farm Management System</h3>-->
                </li>

                <li >
                    <a href="/admin/viewallUsers">System Users</a>
                </li>

                <li class=>
                    <a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish"></i>Species</a>
                    <ul class="collapse list-unstyled" id="species">

                        <li >
                            <a href="/species/viewSpecies">Species</a>
                        </li>
                        <li>
                        	<a href="/ManagerVariety/ManagerStockData">Fingerlings</a>
                        </li>


                    </ul>
                </li>
                <li  class="active">
                    <a href="#ponds" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ponds</a>
                    <ul class="collapse list-unstyled" id="ponds">

                        <li class>
                            <a href="/pondtype/viewPondTypes">Pond Categories</a>
                        </li>
                        <li class="active"  >
                            <a href="#">Farm Ponds</a>
                        </li>


                    </ul>
                </li>

                <li  >
                    <a href="#feeds" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Feeds</a>
                    <ul class="collapse list-unstyled" id="feeds">

                        <li  >
                            <a href="/feeds/viewFeeds"> Feeds</a>
                        </li>
                        <li  >
                            <a href="/farmmanager/feedHistory"> Feed History</a>
                        </li>



                    </ul>
                </li>

                <li  >
                    <a href="#medicine" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Medicines</a>
                    <ul class="collapse list-unstyled" id="medicine">

                        <li  >
                            <a href="/farmmanager/medicines"> Medicines</a>
                        </li>
                        <li  >
                            <a href="/farmmanager/medicinesHistory">Medicine History</a>
                        </li>



                    </ul>
                </li>
                <li>
                    <a href="/farmmanager/harvest">Harvest</a>
                </li>

            </ul>


        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="col-md-12">

                <div align="center">
                    <h3 style="font-weight: bold"> Farm Ponds </h3>

                </div>

                <div th:switch="${message}">
                    <div th:case="'success'" class="alert alert-success">
                        <strong>Success!</strong> <p th:text="${data}"></p>
                    </div>

                    <div th:case="'failed'" class="alert alert-danger">
                        <strong>Failed!</strong> <p th:text="${data}"></p>
                    </div>
                </div>





                <table class="table" id="pondtable">
                    <div align="right">
                        <a href="/pond/addPond"><button class="btn btn-info">New Pond</button></a><br><br>
                    </div>


                    <thead>
                    <tr>
                        <!--						      <th scope="col">Species Code </th>-->
                        <th >Pond Number</th>
                        <th >Pond Category</th>
                        <th>Pond Type</th>
                        <th >Pond Area(m 2 )</th>
                        <th >Avarage depth(m)</th>
<!--                        <th>Status</th>-->
                        <th>Created At</th>
<!--                        <th>Updated At</th>-->

                        <th >Action</th>
                        <th></th>
                        <!--						  	  <th scope="col">Generate pdf</th>-->
                    </tr>
                    </thead>
                    <tbody>



                    <tr th:each="pond : ${listPonds}">
                        <!--/*@thymesVar id="id" type="int"*/-->
                        <!--					  <td th:text="${species.id}"></td>-->
                        <!--/*@thymesVar id="speciesName" type="String"*/-->
                        <td th:text="${pond.pondNumber}">Pond Numberi</td>
                        <td th:text="${pond.pondType.name}">Pond Type</td>
                        <td th:text="${pond.pondStockingType}">Pond Type</td>

                        <td th:text="${pond.pondArea}">Pond Area</td>
                        <td th:text="${pond.avarageDepth}">Avarage depth</td>


                        <td th:text="${pond.createdAt}">Pond Area</td>
<!--                        <td th:text="${pond.updatedAt}">Avarage depth</td>-->


                        <td>

                            <a th:href="@{'/pond/edit/'+ ${pond.id}}"><button class="btn btn-success ">Update</button></a>
<!--                            <a th:href="@{'/species/destock/'+${pond.id}}"><button class="btn btn-danger" onClick="return confirm('Destock Pond?')	">De-Stock</button></a>-->

<!--                            <a th:href="@{'/species/delete/'+${species.id}}"><button class="btn btn-danger" onClick="return confirm('Delete Species?')	">Delete</button></a>-->



                        </td>

                        <td>
                            <a th:href="@{'/pond/report/'+ ${pond.id}}"><button class="btn btn-secondary ">Summary</button></a>

                        </td>
                    </tr>



                    </tbody>

                </table>


            </div>





        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#pondtable').DataTable()

    });
</script>
<!--<script src="/sidebar-01/js/jquery.min.js"></script>-->
<script src="/sidebar-01/js/popper.js"></script>
<script src="/sidebar-01/js/bootstrap.min.js"></script>
<script src="/sidebar-01/js/main.js"></script>

</body>
</html>