
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>

	<title>Feeds</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>


	<link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
	<link rel="stylesheet" href="/sidebar-01/css/style.css">
</head>
	  <body>
			
			<div class="wrapper d-flex align-items-stretch">
				<nav id="sidebar">
					<div class="p-4 pt-5">
						<a href="#" class="img logo rounded-circle mb-5"></a>
						<ul class="list-unstyled components mb-5">
							<hr/>
							<li>

								<img  class="img logo rounded-circle mb-5" src="images/pexels-fox-213399.jpg" width="1000" alt="Fish Farm Management System"/>
								<!--											<h3  align="center" style="color: white">Fish Farm Management System</h3>-->
							</li>
							<li class="" >
								<a href="/admin/viewallUsers">System Users</a>
							</li>
							<li class="">
								<a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-fish" style="color:white"></i>Species</a>
								<ul class="collapse list-unstyled" id="species">

									<li class="">
										<a href="/species/viewSpecies">Species</a>
									</li>

									<li >
										<a href="/ManagerVariety/ManagerStockData">Fingerlings</a>
									</li>


								</ul>
							</li>
							<li  >
								<a href="#ponds" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" ><i class="fas fa-water" style="color: white"></i>Ponds</a>
								<ul class="collapse list-unstyled" id="ponds">

									<li class>
										<a href="/pondtype/viewPondTypes">Pond Categories</a>
									</li>
									<li  >
										<a href="/pond/viewPonds">Farm Ponds</a>
									</li>


								</ul>
							</li>

							<li class="active" >
								<a href="#feeds" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-luggage-cart" style="color: white"></i>Feeds</a>
								<ul class="collapse list-unstyled" id="feeds">

									<li class="active" >
										<a href="/feeds/viewFeeds"> Feeds</a>
									</li>

									<li  >
										<a href="/farmmanager/feedHistory"> Feed History</a>
									</li>


								</ul>
							</li>


							<li  >
								<a href="#medicine" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-luggage-cart" style="color: white"></i>Medicines</a>
								<ul class="collapse list-unstyled" id="medicine">

									<li >
										<a href="/farmmanager/medicines"> Medicines</a>
									</li>

									<li  >
										<a href="/farmmanager/medicinesHistory"> Medication History</a>
									</li>


								</ul>
							</li>
							<li>
								<a href="/farmmanager/harvest">Harvests</a>
							</li>

						</ul>


					</div>
				</nav>

				<!-- Page Content  -->
				<div id="content" class="p-4 p-md-5">

					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<div class="container-fluid">

							<button type="button" id="sidebarCollapse" class="btn btn-primary">
								<i class="fa fa-bars"></i>
								<span class="sr-only">Toggle Menu</span>
							</button>
							<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<i class="fa fa-bars"></i>
							</button>

							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="nav navbar-nav ml-auto">
									<li class="nav-item">
										<a class="nav-link" href="/logout">Logout</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>

					<div class="container">
			        
			        	<div class="col-md-12">
			        	
			        		<div align="center">
									<h3 style="font-weight: bold">Farm Feeds</h3>
								
							</div>

			        
			        	  
			        	<table class="table" id="feedTable">

<!--			        		<div align="right">-->
<!--								<a href="/feeds/addFeed"><button class="btn btn-secondary">Add Feed</button></a><br><br>-->
<!--							</div>-->

<!--							<div th:switch="${message}">-->
<!--								<div th:case="'success'" class="alert alert-success">-->
<!--									<strong>Success!</strong> <p th:text="${data}"></p>-->
<!--								</div>-->

<!--								<div th:case="'failed'" class="alert alert-danger">-->
<!--									<strong>Failed!</strong> <p th:text="${deta}"></p>-->
<!--								</div>-->
<!--							</div>-->

				  <thead>
					    <tr>
<!--						      <th scope="col">#</th>-->
						      <th scope="col">Feed Name<th>
							  <th scope="col">Feed Quantity(Kg)<th>
						  	  <th scope="col">Date</th>
<!--							  <th scope="col">Updated At</th>-->

					    </tr>
				  </thead>
				  <tbody>

					  <tr th:each="feed : ${feedList}">
<!--						  <td th:text="${feed.id}">#</td>-->
						  <td th:text="${feed.feedName}">Feed Name<td>
						  <td th:text="${feed.feedQuality}">Feed Quantity</td>
						  <td></td>
<!--						  <td th:text="${feed.createdAt}">Created At</td>-->
						  <td th:text="${feed.updatedAt}">Updated At</td>


<!--						  <td>-->

<!--						  <a th:href="@{'/feeds/edit/'+ ${feed.id}}"><button class="btn btn-success ">Edit</button></a>-->
<!--						  <a th:href="@{'/feeds/delete/'+${feed.id}}"><button class="btn btn-danger "onClick="return confirm('Delete Feed')">Delete</button></a>-->

<!--					 	 </td>-->
				  </tr>




				  </tbody>

			</table>
			        
			        
			        </div>
			
			      
			      		
				
		
					</div>
		      </div>
			</div>

			<script>
				$(document).ready(function() {
					$('#feedTable').DataTable()

				});
			</script>
<!--			<script src="/sidebar-01/js/jquery.min.js"></script>-->
			<script src="/sidebar-01/js/popper.js"></script>
			<script src="/sidebar-01/js/bootstrap.min.js"></script>
			<script src="/sidebar-01/js/main.js"></script>

	  </body>
</html>