<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	  <head>
		  	<title>View Ownership</title>
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
				
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			
				
			<link rel="stylesheet" href="/sidebar-01/css/bootstrap.min.css">
			<link rel="stylesheet" href="/sidebar-01/css/style.css">
			
	  </head>
	  <body>
			
			<div class="wrapper d-flex align-items-stretch">
					<nav id="sidebar">
							<div class="p-4 pt-5">
								  	<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
							        <ul class="list-unstyled components mb-5">
										<li  >
											<a href="#ponds" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Available Pond Types</a>
											<ul class="collapse list-unstyled" id="ponds">

												<li class>
													<a href="/pondtype/viewPondTypes">View Ponds</a>
												</li>
												<li  >
													<a href="/pondtype/addNewPondType">Add Pond</a>
												</li>


											</ul>
										</li>
										<li >
											<a href="#species" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Available Species</a>
											<ul class="collapse list-unstyled" id="species">

												<li >
													<a href="/species/viewSpecies">View Species</a>
												</li>
												<li class>
													<a href="/species/addSpecies">Add Species</a>
												</li>


											</ul>
										</li>
<!--										<li >-->
<!--											<a href="#owners" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Owners</a>-->
<!--											<ul class="collapse list-unstyled" id="owners">-->

<!--												<li >-->
<!--													<a href="/owners/viewOwners">View Owners</a>-->
<!--												</li>-->
<!--												<li class>-->
<!--													<a href="/owners/addOwner">Add Owner</a>-->
<!--												</li>-->


<!--											</ul>-->
<!--										</li>-->
								          
<!--								          <li class="active" >-->
<!--							             	 <a href="#">Pond Ownership</a>-->
<!--								             -->
<!--								          </li>-->
<!--										<li  >-->
<!--											<a href="#feeds" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Feeds</a>-->
<!--											<ul class="collapse list-unstyled" id="feeds">-->

<!--												<li  >-->
<!--													<a href="/feeds/viewFeeds">View Feeds</a>-->
<!--												</li>-->
<!--												<li class>-->
<!--													<a href="/feeds/addFeed">Add Feed</a>-->
<!--												</li>-->


<!--											</ul>-->
<!--										</li>-->
								          <li>
							             	 <a href="#">Portfolio</a>
								          </li>
								          <li>
							             	 <a href="#">Contact</a>
								          </li>
							        </ul>
						
							      
				      </div>
		    	</nav>
		
		        <!-- Page Content  -->
		      <div id="content" class="p-4 p-md-5">
		
			        <nav class="navbar navbar-expand-lg navbar-light bg-light">
				          <div class="container-fluid">
				
					            <button type="button" id="sidebarCollapse" class="btn btn-primary">
						              <i class="fa fa-bars"></i>
						              <span class="sr-only">Toggle Menu</span>
					            </button>
					            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					               	 <i class="fa fa-bars"></i>
					            </button>
					
					            <div class="collapse navbar-collapse" id="navbarSupportedContent">
						              <ul class="nav navbar-nav ml-auto">
										  <li class="nav-item">
											  <a class="nav-link" href="/logout">Logout</a>
										  </li>
						              </ul>
					            </div>
				          </div>
			        </nav>
			        
			        <div class="container">
			        
			        	<div class="col-md-10">
			        	
			        		<div align="center">
									<h3>View Pond Owners</h3>
								
							</div>
							        	
			        
			        	
			        
			        	  
			        	<table class="table">
			        	
			        		<div align="right">
								<a href="/ownership/addPondOwnership"><button class="btn btn-secondary">Add Pond Ownership</button></a><br><br>
							</div>
					
				  <thead>
					    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Pond ID<th> 
						  	  <th scope="col"> Owner ID</th>
						  	  <th scope="col"> Date</th>
						  	  <th scope="col">Generate pdf</th>
						  	  
						  	   
					      
					    </tr>
				  </thead>
				  <tbody>
				  
				  
				<!-- 
					    <tr th:each="pond : ${pondList}">
			                <td th:text="${pond.id}">#</td>
			                <td th:text="${pond.pondno}">#</td>
			                <td th:text="${pond.type}">Type</td>
			                <td th:text="${pond.owner}">Owner</td>
			                <td th:text="${pond.area}">Area</td>
			                <td th:text="${pond.depth}">Depth</td>
			                <td th:text="${pond.cost}">Cost</td>
			                <td th:text="${pond.Year}">Year</td>
			                <td th:text="${pond.date}">Date Recorded</td>

			             
			                
			                <td>
			             
			                <a th:href="@{'/edit/'+ ${pond.id}}"><button class="btn-lg btn-success ">Edit</button></a>
			                <a th:href="@{'/delete/'+${pond.id}}"><button class="btn-lg btn-danger">Delete</button></a>
			                
			                
			               
			                </td>
					    </tr>
				    
				    -->
				    
				   
				   
				  </tbody>
				 
			</table>
			        
			        
			        </div>
			
			      
			      		
				
		
					</div>
		      </div>
			</div>
	
	    <script src="/sidebar-01/js/jquery.min.js"></script>
	    <script src="/sidebar-01/js/popper.js"></script>
	    <script src="/sidebar-01/js/bootstrap.min.js"></script>
	    <script src="/sidebar-01/js/main.js"></script>
	  </body>
</html>